
<h1>Welcome to the Center of the Comedian Universe</h1>
<br>


<section id="statistics">
<h2>Statistics</h2>
<p>Average Age: <%= @average_age.round(1) %></p>
<p>Unique Cities: </p>
  <ul><% @unique_cities.each do |city| %>
    <li><%= city %></li>
  <% end %>
  </ul>
</section>


<% @comedians.each do |comedian| %>
<section id="comedian-<%=comedian.id%>">
  <br>
    <img src=  <%= comedian.image_url %> alt= <%= comedian.name.delete(" ") %> >
    <h2>Comedian name: <%= comedian.name %></h2>
    <p>Age: <%= comedian.age %></p>
    <p>Birthplace: <%= comedian.birthplace %></p>
    <p>Total Specials: <%= comedian.count_specials %></p>

    <% comedian.specials.each do |special|  %>
    <p>Special name: <%= special.name %></p>
    <p>Special runtime <%= special.runtime_mins %></p>
    <% end %>
  <% end %>
</section>




<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
