<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap 101 Template</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" />
  </head>
<body>
  <nav class="navmaster">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/comedians">Comedians Central</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="/comedians/new">Enter New Comedian <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Filter by Age
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <% @unique_ages.each do |age| %>
              <a class="dropdown-item" href="/comedians?age=<%= age %>"><%= age %></a>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </nav>

  <section class="jumbotron">
    <section id="statistics">
      <h4>Comedian Statistics</h4>
      <p>Average Age (years): <%= @average_age.round(1) %></p>
      <p>Unique Cities: </p>
      <ul class="grid-cities"><% @unique_cities.each do |city| %>
        <li><%= city %></li>
      <% end %>
      </ul>
    </section>
  </section>

  <section class="grid-container">
    <% @comedians.each do |comedian| %>
      <section class="grid-item">
        <section id="comedian-<%=comedian.id%>">
          <img src=  <%= comedian.image_url %> alt= <%= comedian.name.delete(" ") %> >
          <h2><%= link_to comedian.name, comedian_path(comedian) %>, age <%= comedian.age %></h2>
          <h2><%= comedian.birthplace %></h2>

          <p><%= comedian.count_specials %> Specials</p>

          <% comedian.specials.each do |special|  %>
          <ul class="grid-container">
          <section class="grid-item"><%= special.name %></section>
          <section class="grid-item"><%= special.runtime_mins %> minutes</section>
          </ul>
        <% end %>
      </section></section>
    <% end %>
  </section>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
